.active {
	/* primary: { */
	main: #000000;
	dark: #6f0b38;
	customtriada: #28240b;
	customtriada: #494847;

	/* secondary: { */
	main: #d4c25e;

	divider: #ece4b7;
}

.optionTwo {
	citron: #d4c25e;
	drabdarkbrown: #28240b;
	taupegray: #8c8a93;
	darkred: #8d0801;
	paynesgray: #5e747f;
}
